In [1]:
# Dependencies 
import pandas as pd

In [2]:
# Read the CSV files
csv_file = '../data/store.csv'

# Save CSV files into DataFrame
df = pd.read_csv(csv_file)

# Display DataFrame
df

              date  store  item  sales
0       2013-01-01      1     1     13
1       2013-01-02      1     1     11
2       2013-01-03      1     1     14
3       2013-01-04      1     1     13
4       2013-01-05      1     1     10
...            ...    ...   ...    ...
912995  2017-12-27     10    50     63
912996  2017-12-28     10    50     59
912997  2017-12-29     10    50     74
912998  2017-12-30     10    50     62
912999  2017-12-31     10    50     82

[913000 rows x 4 columns]

In [3]:
# Check the data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 913000 entries, 0 to 912999
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    913000 non-null  object
 1   store   913000 non-null  int64
 2   item    913000 non-null  int64
 3   sales   913000 non-null  int64
dtypes: int64(3), object(1)
memory usage: 27.9+ MB

In [4]:
# Change date column to datetime format
df['date'] = pd.to_datetime(df['date'])

In [5]:
# Check data types to confirm date is in datatime format
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 913000 entries, 0 to 912999
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    913000 non-null  datetime64[ns]
 1   store   913000 non-null  int64
 2   item    913000 non-null  int64
 3   sales   913000 non-null  int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 27.9 MB

In [6]:
# Split the data into training and testing sets
train_end_date = '2016-12-31'
train_df = df[df['date'] <= train_end_date]
test_df = df[df['date'] > train_end_date]

In [7]:
# Save the train_df DataFrame to a CSV file
train_df.to_csv('../data/processed_data/train_data.csv', index=False)

# Save the test_df DataFrame to a CSV file
test_df.to_csv('../data/processed_data/test_data.csv', index=False)